# Drizzle
DATABASE_URL="file:local.db"

# Better Auth
BETTER_AUTH_SECRET="aQlefRaY6Ph2iuCTA1MbtgWcw9dfxbna"
BETTER_AUTH_URL=http://localhost:5173 # Base URL of your app
DATABASE_AUTH_TOKEN="94e1918d-ed01-48f5-a6a6-c561bd1f3ce2"

ORIGIN="http://localhost:5173"
