# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"

# Better Auth
BETTER_AUTH_SECRET="your_secret"
BETTER_AUTH_URL=http://localhost:5173 # Base URL of your app
